name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install CI dependencies only
        run: |
          pip install --upgrade pip
          pip install -r requirements-ci.txt

      - name: Run tests
        run: pytest -q